h1{
    font-family: 'Darumadrop One', cursive;
    color: "purple"
    
}

.euros{
    width:40px;
    height:45px;
  }
  
h1.family{
    color:#3399FF;

  }

h1.purple{
    color:purple;
  }

  body {
    padding-bottom: 300px
  }